/* body(바디) 정의 */
body {
    /* 고정 상단메뉴를 위해 상단 공간 생성 */
    padding-top: 75px;
 }
 /* header(헤더) */
 header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 1rem;
    color: #DFDBCE;
    background: teal;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 /* logo text(로고 텍스트) 정의 */
 a.logo {
    text-decoration-line: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #DFDBCE;
 }
 /* logo image(로고 이미지) 정의 */
 img.logo {
    margin: 10px;
    padding: 0;
    width: 100px;
 }
 /* menu text(메뉴 텍스트) 정의 */
 a.menu {
    text-decoration-line: none;
    display: flex;
    padding: 0 2em;
    font-size: 17px;
    font-weight: 600;
    border-right: 1.5px solid rgba(0, 0, 0, 0.3);
    align-items: center;
    color: #DFDBCE;
 }
 /* 도서 아이템 정의 */
.book-items .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
    align-items: stretch;
    .metadata {
       width: 1000px;
       padding-left: 1em;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       .title {
          color: #000000;
          font-size: 2em;
          font-weight: 800;
          margin-bottom: 0.5em;
       }
       table.bibil {
          th {
             width: 80px;
             font-size: 1em;
             color: #666666;
          }
          td {
             text-align: left;
             color: #666666;
             font-size: 1em;
          }
       }
       .desc {
          width: 100%;
          color: #666666;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
       }
       .rate {
          padding: 0 0 0 20px;
          margin-bottom: 0.5em;
          width: 100%;
          color: #666666;
          border: none;
          font-size: 1em;
          font-weight: normal;
       }
       .stars {
          color: rgba(241, 147, 51, 0.7);
          font-size: 1.5em;
       }
    }
 }
 /* 도서 아이템 이미지 정의 */
 .book-items .item img {
    width: 200px;
    height: 300px;
    object-fit: fill;
    border: 1px solid black;
    border-radius: 5px;
 }