<html lang="ko">
    <head>
        <meta charset="UTF-8">
         <!-- Ajax 설정-->
        <script src="https://kit.fontawesome.com/f9a809ddea.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <title>장고 북스</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        {% load static %}
            도서 목록 페이지    
            {% include 'books_table.html' %}
        {% endblock %}   
        {% if books_list %} <!-- 매핑된 도서 리스트가 있는지, 있다면 내용이 있는지 확인 -->
        <div class="row">
            <div class="book-items">
                {% for book in books_list %} <!-- 반복문을 통해 도서에 대한 내용 출력 -->
                 <div class="col-12 item">              
                    <img src="{{book.img_url}}">
                    <div class="metadata">
                        <div class="title">
                            {{book.title}} <!-- 각 반복문 대상의 요소 불러오기 -->
                        </div>
                        <table class="bibil">
                            <tr>
                                <th>저자</th>
                                <td>{{book.author}}</td>
                                <th>출판사</th>
                                <td>{{book.publisher}}</td>
                                <th>출판년도</th>
                                <td>{{book.pub_date}}</td>
                            </tr>
                            <tr>
                                <th>주제</th>
                                <td>{{book.kdc_class_no}}</td>
                                <th>ISBN</th>
                                <td>{{book.isbn13}}</td>
                                <th></th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% endfor %} <!-- 중요한 점은 반복문의 끝에는 항상 이렇게 end를 넣어주어야 한다. -->
            </div>
        </div>             
        {% else %}
        <div class="row">
            <div class="col-12">
                <div class="no-result">
                    <p><b>{{search_input}}</b>도서가 없습니다</p>
                </div>
            </div>
        </div>
        {% endif %}
      </body>
</html> 